openapi: 3.1.0

info:
  title: Paywaz Public API
  version: 2025-01-01
  description: |
    Paywaz Public API.

    Versioning:
    - Clients may send `Paywaz-Version: YYYY-MM-DD` to pin behavior for a request.
    - Responses include `Paywaz-Version` indicating the version that served the request.

servers:
  - url: https://api.paywaz.com
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Payments
    description: Create and retrieve payments
  - name: Webhooks
    description: Webhook event payloads and verification

paths:
  /payments:
    post:
      operationId: createPayment
      summary: Create a payment
      description: Initiates a zero-fee crypto or stablecoin payment.
      tags: [Payments]
      parameters:
        - $ref: "#/components/parameters/PaywazVersion"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "201":
          $ref: "#/components/responses/PaymentCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Retrieve a payment
      tags: [Payments]
      parameters:
        - $ref: "#/components/parameters/PaywazVersion"
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          $ref: "#/components/responses/PaymentRetrieved"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /webhooks/payments:
    post:
      operationId: receivePaymentWebhook
      summary: Receive payment webhook events
      description: |
        Receives asynchronous payment lifecycle events from Paywaz.

        ## Webhook signature verification (HMAC-SHA256)

        **Required headers**
        - `Paywaz-Timestamp: <unix_seconds>`
        - `Paywaz-Signature: v1=<hex_signature>`

        **Signing algorithm**
        `signature = HMAC_SHA256(secret, "${timestamp}.${raw_body}")`

        **Replay protection**
        Reject if `|now - timestamp| > 300 seconds`.

        **Important**
        Verify the signature against the **raw request body bytes** (not parsed JSON).
      tags: [Webhooks]
      security: [] # webhooks are public; authenticity is via signature
      parameters:
        - $ref: "#/components/parameters/PaywazTimestamp"
        - $ref: "#/components/parameters/PaywazSignature"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEvent"
      responses:
        "200":
          description: Webhook processed successfully
        "400":
          description: Invalid payload or signature
        "401":
          description: Signature verification failed

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      bearerFormat: APIKey
      description: Use `Authorization: Bearer <api_key>`

  parameters:
    PaywazVersion:
      name: Paywaz-Version
      in: header
      required: false
      schema:
        type: string
        example: "2025-01-01"
      description: |
        API version to use for this request.
        If omitted, the account's pinned/default version is used.

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
      description: Idempotency key for safely retrying create requests.

    PaywazTimestamp:
      name: Paywaz-Timestamp
      in: header
      required: true
      schema:
        type: string
        example: "1734183123"
      description: Unix timestamp in seconds.

    PaywazSignature:
      name: Paywaz-Signature
      in: header
      required: true
      schema:
        type: string
        example: "v1=0123abcd...deadbeef"
      description: |
        HMAC-SHA256 webhook signature.
        Format: `v1=<hex_digest>`

  headers:
    PaywazVersionServed:
      schema:
        type: string
        example: "2025-01-01"
      description: API version used to process this request.

    Deprecation:
      schema:
        type: string
        example: "true"
      description: Present when the served API version is deprecated.

    Sunset:
      schema:
        type: string
        example: "Sun, 06 Nov 1994 08:49:37 GMT"
      description: RFC 1123 date when this API version will be sunset.

    Link:
      schema:
        type: string
        example: '<https://docs.paywaz.com/deprecations>; rel="deprecation"'
      description: Link to deprecation policy or migration guide.

  responses:
    PaymentCreated:
      description: Payment created
      headers:
        Paywaz-Version:
          $ref: "#/components/headers/PaywazVersionServed"
        Deprecation:
          $ref: "#/components/headers/Deprecation"
        Sunset:
          $ref: "#/components/headers/Sunset"
        Link:
          $ref: "#/components/headers/Link"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Payment"

    PaymentRetrieved:
      description: Payment retrieved
      headers:
        Paywaz-Version:
          $ref: "#/components/headers/PaywazVersionServed"
        Deprecation:
          $ref: "#/components/headers/Deprecation"
        Sunset:
          $ref: "#/components/headers/Sunset"
        Link:
          $ref: "#/components/headers/Link"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Payment"

    BadRequest:
      description: Bad request
      headers:
        Paywaz-Version:
          $ref: "#/components/headers/PaywazVersionServed"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Problem"

    Unauthorized:
      description: Unauthorized
      headers:
        Paywaz-Version:
          $ref: "#/components/headers/PaywazVersionServed"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Problem"

    NotFound:
      description: Not found
      headers:
        Paywaz-Version:
          $ref: "#/components/headers/PaywazVersionServed"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    CreatePaymentRequest:
      type: object
      required: [amount, currency, destination]
      properties:
        amount:
          type: string
          description: Amount as a decimal string (e.g. "49.99").
          example: "49.99"
        currency:
          type: string
          description: ISO currency or token symbol (e.g. "USD", "USDC", "PZUSD").
          example: "PZUSD"
        destination:
          type: string
          description: Wallet address, account ID, or merchant destination identifier.
          example: "merchant_wallet_or_destination_id"
        autoConvert:
          type: boolean
          default: false
          description: If true, Paywaz may auto-convert to a preferred stablecoin.
        metadata:
          type: object
          description: Arbitrary key/value metadata.
          additionalProperties: {}
          example:
            orderId: "12345"
            invoiceId: "INV-10001"

    Payment:
      type: object
      required: [id, status, amount, currency, createdAt]
      properties:
        id:
          type: string
          example: "pay_01HZXY9M8A3P9"
        status:
          type: string
          enum: [pending, confirmed, settled, failed]
          example: "pending"
        amount:
          type: string
          example: "49.99"
        currency:
          type: string
          example: "PZUSD"
        destination:
          type: string
          example: "merchant_wallet_or_destination_id"
        transactionHash:
          type:
            - "string"
            - "null"
          example: null
        metadata:
          type: object
          additionalProperties: {}
          example:
            orderId: "12345"
        createdAt:
          type: string
          format: date-time
          example: "2025-01-01T12:00:00Z"

    WebhookEvent:
      type: object
      required: [id, type, eventVersion, livemode, createdAt, data]
      properties:
        id:
          type: string
          example: "evt_01HZXY9M8A3P9"
        type:
          type: string
          enum:
            - payment.pending
            - payment.confirmed
            - payment.settled
            - payment.failed
        eventVersion:
          type: string
          description: Version of the webhook payload schema.
          example: "2025-01-01"
        livemode:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: "2025-01-01T12:00:05Z"
        data:
          type: object
          required: [payment]
          properties:
            payment:
              $ref: "#/components/schemas/Payment"

    Problem:
      type: object
      required: [type, title, status]
      properties:
        type:
          type: string
          example: "https://docs.paywaz.com/errors/invalid_request"
        title:
          type: string
          example: "Invalid request"
        status:
          type: integer
          example: 400
        detail:
          type: string
          example: "Missing required header: Idempotency-Key"
        instance:
          type: string
          example: "req_01HZXY9M8A3P9"
